<div class="menu-container">
  <div class="card-header col-md-12">
    <h2>
      Post:
    </h2>
  </div>
  {{!-- <a href="/api/posts/{{id}}"> --}}
    <div class="card text-white bg-primary mb-3">
      <div class="card-header">{{id}}</div>
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-text">{{post_body}}</p>
        </p>User ID: {{user_id}}</p>
      </div>
    </div>
    {{!--
  </a> --}}
</div>